body {
	background-color: #3B6064;
	padding: 2vw;
	color: white;
}

.mx-auto {
	height: 15vw;
	object-fit: cover;
	display: inline-block;
}


h1 {
	font-family: fredoka;
	text-align: center;
}

h2 {
	font-family: fredoka;
}

p {
	font-family: fredoka;
}

a {
	color: white;
}

span {
	color: #87BBA2;
	font-weight: bold;
}

.footer {
	text-align: center;
}

table.a {
	table-layout: auto;
	width: 80vw;
}

td.info {
	width: 40vw;
}